@import "tailwindcss";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

:root {
  --font-body: var(--font-inter);
  --font-heading: var(--font-space-grotesk);
}

/* globals.css */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

body,
a {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}

/* ========================================================== */

body {
  background-color: #10172a;
  color: beige;
}
