@import "tailwindcss";
:root {
  --font-body: var(--font-inter);
}

/* 
#10172a #violet-black
#0a0a0a #dark-black
#e5e5e5 #light-gray
#171717 #dark-gray
#212121 #zinc-800
#8e51ff #violet
#2b7fff #blue
#5ea500 #green
zinc

 */

/* globals.css */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

body,
a {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-body);
}

/* ========================================================== */

body {
  /* background-color: #10172a; */
  background-color: #0a0a0a;
  color: #e5e5e5;
}
